
body {
    background-color: #000000;
    padding: 0;
    margin: 5;
}

.butgogame {
    height: 10vh;
    width: 10vh;
    background-color: green;
    border-radius: 5vh;
    padding: 20px;
}

.gcanvas {
    border: 0px solid #000000;
    position: relative;
    top: 40px;
    cursor: none;
    border-radius: 15px;
    
}

.canvascontainer {
    text-align: center;
    height: 98vh;

}